p{
    font-family: Montserrat;
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}
.line{
    margin-top: 0;
}
.span{
    text-decoration: underline;
    cursor: pointer;
}